.body {
  background: #cc3333;
}
h1 {
  margin-top: 350px;

  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 74px;
  text-align: center;

  color: #ffffff;
}
.white {
  color: #ffffff;
}

.ConCard {
  width: 300px;
  left: 103px;
  text-align: center;
}
div[data="footer"] {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center;
  color: #ffffff;
}
.jumbotron {
  background-image: url(./imags/consumer-products-hero.png);
  background-size: contain;
  background-color: black;
  opacity: 0.4;
}
.jumbotron p {
  color: black;
  text-shadow: 1px 1px wheat;
}

#map {
  height: 250px;
  background-color: blue;
  color: #cc3333;
  text-align: center;
}
