body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 1px solid #CCCCCC;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #f1f1f1;
    color: black;
  }
  
  .navbar a.active {
    background: #f1f1f1;
    color: #000000;
  }
  
  .main {
    padding: 16px;
    margin-bottom: 30px;
  }

  div[data="footer"] {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .navbar-default {
      background-color: #cc3333;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .container {
    margin-top: 20px;
  }

  h3 {
      font-size: 23px;
      color: white;
  }

  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }

  .holder_wrap_img {
    position: relative;
    margin: auto;
    display: block;
    height: 120px;
    position: absolute;
    /* กำหนดการจัดตำแหน่งส่วนพื้นที่คลุมเนื้อหารุปและข้อความซ้อนทับ */
}


/* css ซ้อนทับ ชิดขอบบน */
.inner_position_top {
    font-size: 12px;
    color: white;
    position: absolute;
    display: block;
    height: 50px;
    /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */
    width: 100%;
    /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */
    top: 0px;
    /* css กำหนดชิดด้านบน  */
    z-index: 999;
}

.image {
  border-radius: 50%;
}

.show {
  width: 363px;
  height: 137px;
  left: 23px;
  top: 81px;

  border-radius: 10px;
}

h2 {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 42px;
}

.nextbtn {
  width: 124px;
  height: 36px;
  left: 267px;
  top: 849px;
  background: #CC3333;
  border-radius: 10px;
  color: white;
}

.nav {
  width: auto;
  height: 60px;
}

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
}

